{% extends 'base.html' %}

{% block content %}
            <section class="transfer-section">
                <div class="transfer-section-header">
                    <h2>Transaction history</h2>
                </div>
                <div class="transfers">
                    {% if transactions %}
                        {% for transaction in transactions reversed %}
                            <div class="transfer">
                                <dl class="transfer-details">
                                    <div style="width: fit-content;">
                                        <dt>{{ transaction.transaction_type }}</dt>
                                        <dd> </dd>
                                    </div>
                                    <div style="width: fit-content;">
                                        <dt>{{ transaction.date }}</dt>
                                        <dd>{{ transaction.time }}</dd>
                                    </div>
                                </dl>
                                <div class="transfer-number">
                                    &#8358;{{ transaction.amount }}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No transactions to show.</p>
                    {% endif %}
                </div>
            </section>
{% endblock %}