{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="app-body-main-content">
	<section class="service-section">
		<h2>Transfer</h2>
		<div class="service-section-header">
			<div class="search-field">
				{% if user.is_authenticated %}
				<i>&#8358;</i>
				<i class="search-field" style="padding-left: 15px;">{{ user.balance }}</i>
				{% else %}
				<i>You are broke get your bread up</i>
				{% endif %}
			</div>
			<div class="search-field">
				{% if user.is_authenticated %}
				<i class="search-field" style="padding-left: 15px;">{{ user.account_number }}</i>
				{% else %}
				<i>No account number</i>
				{% endif %}
			</div>
			<div class="dropdown-field">
				<select>
					<option>Savings</option>
				</select>
				<i class="ph-caret-down"></i>
			</div>
		</div>
	</section>
	<section class="withdraw-field">
		<form action="{% url 'transfer' %}" method="POST">
			{% csrf_token %}
			<input type="text" name="accountnumber" placeholder="Enter 10-digit account number" required>
			<input type="text" name="bank" placeholder="Enter bank name" required>
			<input type="number" name="amount" placeholder="Enter Amount To Transfer (&#8358;)" required>
			<br>
			<br>
			<br>
			<div style= "text-align: center;">
				<label for="password">ENTER 4-DIGIT PIN</label><br>
				<input  type="text" class ="password" id="password" name="password" autocomplete="off" placeholder="0000" required >
				<button class="flat-button" style="margin-top: 15px;">Transfer</button>
			</div>
		</form>
	</section>
	<section class="transfer-section">
		<div class="transfer-section-header">
			<h2>Alerts Below</h2>
			<div class="filter-options">
			</div>
		</div>
		{% if messages %}
		{% for message in messages %}
		<div class="transfers">
			<div class="transfer">
				<dl class="transfer-details">
					<div style="width: fit-content;">
						<dt>{{ message }}</dt>
					</div>
					<div>
						<dt>{{ message.tags }}</dt>
					</div>
				</dl>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</section>
</div>
{% endblock %}
